<mat-toolbar color="primary">
  <span>
    <a routerLink="/">My Message</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="onLink">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="onLink">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="onLink"
        >Sign Up</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <button (click)="onLogout()" mat-button>Logout</button>
    </li>
  </ul>
</mat-toolbar>
